.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: var(--competency-list-min-height);
  gap: var(--gap-l);
  margin-top: var(--header-space-xl);
  padding-right: 6px;

  &::-webkit-scrollbar {
    width: 2px;
    background: #EBEBEB;
  }

  &::-webkit-scrollbar-thumb {
    background: #F91F71;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #EBEBEB;
  }
}

.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  font-size: var(--font-size-m);
  color: var(--light-gray-font-color);
  font-weight: var(--font-weight-thin);
}
