.second_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-regular);

  cursor: pointer;

  font-size: var(--font-size-m);
  color: var(--second-font-color);
  border-radius: var(--main-button-border-radius);
  padding: var(--main-button-padding);

  border: 1px solid var(--second-font-color);

  &:hover {
    color: var(--main-button-bg-hover-color);
    border: 1px solid var(--main-button-bg-hover-color);
  }
}

.no_border {
  border: none !important;
}

.disabled {
  background-color: var(--main-button-disabled-bg-color);
  cursor: not-allowed;

  pointer-events: none;
}
