.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;

  border-top: var(--border-top);

  padding: var(--item-padding);

  p {
    font-size: var(--font-size-s);
  }
}
