.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--question-form-gap);
  background-color: var(--block-bg-color);
  padding: var(--form-padding);
  border-radius: var(--default-border-radius);
  margin: var(--question-form-margin);
}

.label {
  font-size: var(--font-size-lm);
  margin-bottom: var(--middle-space);
  color: var(--light-gray-font-color);
}

.header {
  font-size: var(--font-size-xl);
}
