.input {
  display: flex;
  border-radius: var(--field-border-radius);
  outline: none;
  border: 1px solid var(--input-border-color);
  padding: var(--input-default-padding);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  color: var(--black-font-color);
  background-color: var(--white-bg-color);
  width: 100%;
  height: var(--field-height);
  transition: border-color 0.2s ease;

  &::placeholder {
    color: var(--placeholder-color);
  }
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  background: none;
  border: none;
  right: 16px;
  cursor: pointer;
  font-size: var(--font-size-lm);
}
