.input {
  display: flex;
  border-radius: .6rem;
  outline: none;
  border: .1rem solid rgb(216, 225, 239);
  padding: var(--input-default-padding);
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  line-height: 2.4rem;

  &::placeholder {
    color: #a0abbe;
  }
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  background: none;
  border: none;
  right: 16px;
  cursor: pointer;
  font-size: var(--font-size-lm);
}
