.wrapper {
  display: flex;
  gap: var(--question-form-gap);
  background-color: var(--block-bg-color);
  padding: var(--relation-form-padding);
  border-radius: var(--default-border-radius);

  margin-bottom: 12px;
}

p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lm);
}

.answers_list {
  display: flex;
  flex-direction: column;
  //list-style-type: none;
  font-size: var(--font-size-lm);

  padding-left: 20px;
  margin: 10px 0 0 0;
  gap: 8px;

  .answer_item {
    font-size: var(--font-size-s);
  }
}
