.wrapper {
  display: flex;
  gap: var(--question-form-gap);
  background-color: var(--block-bg-color);
  padding: var(--relation-form-padding);
  border-radius: var(--default-border-radius);
  width: var(--relation-choose-form-width);

  margin-bottom: 12px;
}

p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lm);
}

.answers_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: var(--font-size-lm);

  padding: 0;
  margin: 10px 0 0 0;
  gap: 8px;
}
