.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: var(--avatar-bg-color);
  color: var(--avatar-text-color);
  font-size: var(--font-size-s);
  font-weight: 800;
}
