
.item {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-m);
  border-bottom: var(--item-border-bottom);

  p {
    color: var(--black-font-color);
    font-weight: var(--font-weight-regular);
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: row;
  gap: var(--gap-ml);
}

.body {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--large-space);
}

.title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium) !important;
}

.description {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-thin);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: var(--description-line-height);
  max-width: var(--description-max-width);
  transition: max-height var(--arrow-transition-duration) ease, opacity var(--arrow-transition-duration) ease;
  margin-left: 6px;

  &.full {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: var(--description-max-width);
    max-height: none;
  }
}

.arrow {
  width: var(--arrow-size);
  height: var(--arrow-size);
  cursor: pointer;
  margin: var(--arrow-margin);
  transition: color var(--arrow-transition-duration) ease, transform var(--arrow-transition-duration) ease;
  margin-right: 4px;

  &:hover {
    color: var(--second-font-color);
  }

  &.expanded {
    color: var(--second-font-color);
  }

  &.collapsed {
    color: var(--black-font-color);
  }
}

.icon {
  transition: color var(--icon-transition-duration) ease;

  &:hover {
    color: var(--icon-hover-color);
  }
}

.options_wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-ms);

  svg {
    margin: 0;
    cursor: pointer;
  }
}
