.create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  svg {
    margin: 0 6px 0 0;
  }
}

.input {
  align-items: center;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  margin: 0;
  border: 0;
  display: inline-flex;
  outline: none;
  padding: 0;
  min-width: 220px;

  &::placeholder {
    color: var(--black-font-color);
  }
}

.button {
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin-left: auto;
  color: var(--second-font-color);
  cursor: pointer;
}
