.wrapper {
  display: flex;
  gap: 10px;
}

.find {
  margin-top: 10px;
  color: #C1C1C1;
}

.input {
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  border: 0;
  display: inline-flex;
  transition: width 0.2s ease;
  outline: none;
  height: 40px;
  max-width: 400px;

  &::placeholder {
    color: #272727;
  }
}
