:root {
  --default-bg-color: #EEF2F8;
  --default-border: 1px solid #D8E1EF;
  --default-border-radius: 12px;
  --disabled-button: #ccc;

  // * Fonts
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 12px;

  --white-font-color: #FFFFFF;
  --black-font-color: #272727;
  --light-gray-font-color: #ccc;

  --second-font-color: #F91F71;

  // * Block
  --block-min-width: 500px;

  --block-bg-color: #FFFFFF;
  --block-border-radius: 12px;
  --block-padding: 10px 20px 10px 20px;

  // * Button
  --main-button-bg-color: #F91F71;
  --main-button-bg-hover-color: #db3070;
  --main-button-border-radius: 8px;
  --main-button-padding: 10px 15px 10px 15px;

  // * SquareCheckboxInput
  --input-border-radius: 8px;
  --input-padding: 10px 15px 10px 15px;
  --input-gap: 10px;
  --input-width: 100%;
  --square-checkbox-input-border-radius: 4px;

  // * Checkbox
  --rounded-checkbox-height: 18px;
  --rounded-checkbox-width: 18px;
  --rounded-checkbox-border-radius: 50%;
  --rounded-checkbox-background-size: 75%;


  // * CreateBar
  --margin-bottom: 12px;

  // * TestListItem
  --border-top: 1px solid #C9D4E7;
  --item-padding: 4px;

  // * QuestionForm
  --question-form-padding: 10px 15px 10px 15px;
  --question-form-gap: 24px;
  --question-form-margin: 10px 0 10px 0;
  --question-form-p-margin: 4px;

  // * QuestionType
  --question-type-padding: 6px;
  --question-type-border-radius: 8px;

  // * SingleChooseForm
  --single-choose-form-margin-left: 6px;

  // * MultipleChooseForm
  --single-choose-form-width: 873px;

  // * InputResponse
  --input-response-margin: 4px 0 0 10px;
}
