:root {
  --default-bg-color: #EEF2F8;

  // * Fonts
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 12px;

  --white-font-color: #FFFFFF;

  // * Block
  --block-min-width: 500px;

  --block-bg-color: #FFFFFF;
  --block-border-radius: 12px;
  --block-padding: 10px 20px 10px 20px;

  // * Button
  --main-button-bg-color: #F91F71;
  --main-button-border-radius: 8px;
  --main-button-padding: 10px 15px 10px 15px;
}
