@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../shared/fonts/Inter-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  user-select: none;
  min-height: 100vh;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #EEEEEE;
  }

  &::-webkit-scrollbar-thumb {
    background: #EEEEEE;
    border-radius: 44px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
}

