.card {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  min-width: 250px;
  height: 226px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px dashed #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.inputs {
  margin-bottom: 16px;
}
