.wrapper {
  display: flex;
  height: auto;
  flex-direction: column;
  width: var(--single-choose-form-width);

  background-color: var(--block-bg-color);
  padding: var(--question-form-padding);
  border-radius: var(--default-border-radius);
  gap: var(--large-space);
}

.minus_icon {
  cursor: pointer;
  margin: var(--input-response-margin);
}
