.wrapper {
  display: flex;
  align-items: start;
  gap: 46px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 230px;

  &::-webkit-scrollbar {
    height: 6px;
    background: #EBEBEB;
  }

  &::-webkit-scrollbar-thumb {
    background: #F91F71;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #EBEBEB;
  }
}

.cross_icon {
  cursor: pointer;
  margin: var(--input-response-margin);
}

.inputs {
  display: flex;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
}
