.wrapper {
  display: flex;
}

.minus_icon {
  cursor: pointer;
  margin: var(--input-response-margin);
}

.plus_icon {
  cursor: pointer;
  margin: var(--input-response-margin);
}

.inputs {
  display: flex;
  gap: 100px;
}
