.wrapper {
  display: flex;
  justify-content: center;

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 36px;
  }
}

.header {
  font-size: var(--font-size-xxl);
  margin-bottom: 20px;
}
