.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 54px 0 24px 0;
  min-width: 500px;
  max-height: 700px;
  padding: 0 24px 0 24px;
  gap: 32px;

  h1 {
    margin: 0;
  }

  p {
    margin-bottom: 10px;
  }

  .title {
    color: var(--title-default-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-thin);
  }

  .text {
    font-size: var(--font-size-xl);
  }

  .completed {
    display: inline-block;
    padding: 4px 20px;
    border-radius: 4px;
    background-color: var(--light-bg-color);
    color: var(--second-font-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-m);
  }
}

.header {
  padding: 22px 0 0 22px;
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-medium);
}
