:root {
  --default-bg-color: #EEF2F8;
  --white-bg-color: #FFFFFF;
  --default-border: 1px solid #D8E1EF;
  --default-border-radius: 12px;
  --disabled-button: #ccc;
  --light-bg-color: #FFEFF5;
  --light-gray-bg-color: #CCC;

  // * Router
  --router-width: 100vw;
  --router-height: 100vh;
  --height-with-navbar: 80vh;

  // * Fonts
  --font-size-xxl: 28px;
  --font-size-xl: 24px;
  --font-size-l: 20px;
  --font-size-lm: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;

  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --white-font-color: #FFFFFF;
  --black-font-color: #272727;
  --light-gray-font-color: #ccc;

  --second-font-color: #F91F71;

  // * Margin
  --medium-space: 8px;
  --large-space: 12px;
  --header-space: 20px;
  --header-space-xl: 28px;

  // * Gap
  --gap-l: 24px;
  --gap-m: 16px;
  --gap-ml: 12px;
  --gap-ms: 8px;
  --gap-s: 4px;

  // * Form
  --form-padding: 20px;

  // * Input
  --input-default-padding: 0 12px 0 12px;

  // * Block
  --block-min-width: 700px;
  --block-max-width: 800px;

  --block-bg-color: #FFFFFF;
  --block-border-radius: 12px;
  --block-padding: 20px;

  // * Button
  --main-button-bg-color: #F91F71;
  --main-button-disabled-bg-color: #FFEFF5;
  --main-button-bg-hover-color: #db3070;
  --main-button-border-radius: 8px;
  --main-button-padding: 10px 15px 10px 15px;

  // * SquareCheckboxInput
  --input-border-radius: 8px;
  --input-padding: 10px 15px 10px 15px;
  --input-margin: 8px 0 0 0;
  --input-gap: 10px;
  --input-width: 100%;
  --square-checkbox-input-border-radius: 4px;

  // * Checkbox
  --rounded-checkbox-height: 18px;
  --rounded-checkbox-width: 18px;
  --rounded-checkbox-border-radius: 50%;
  --rounded-checkbox-background-size: 75%;

  // * Navbar
  --navbar-height: 80px;
  --navbar-padding: 0 3rem 0 3rem;
  --navbar-border-radius: 0 0 16px 16px;
  --navbar-navlink-active-color: #F91F71;

  // * Icon
  --icon-hover-color: var(--second-font-color);


  // * CreateBar
  --margin-bottom: 12px;

  // * TestListItem
  --border-top: 1px solid #C9D4E7;
  --border-bottom: 1px solid #C9D4E7;
  --item-padding: 4px;

  // * QuestionForm
  --question-form-padding: 10px 15px 10px 15px;
  --question-form-gap: 24px;
  --question-form-margin: 10px 0 10px 0;
  --question-form-p-margin: 4px;

  // * QuestionType
  --question-type-padding: 6px;
  --question-type-border-radius: 8px;

  // * SingleChooseForm
  --single-choose-form-margin: 0 0 2px 6px;
  --single-choose-form-padding: 0 0 8px 0;

  // * MultipleChooseForm
  --single-choose-form-width: 800px;

  // * MultipleChooseForm
  --relation-choose-form-width: 800px;
  --relation-form-padding: 24px 32px;

  // * InputResponse
  --input-response-margin: 4px 0 0 0;

  // * PassingTest
  --passing-test-padding: 20px 24px 20px 24px;

  // * CompetencyModal
  --competency-modal-width: 400px;
  --competency-modal-height: 450px;
  --competency-modal-padding: 15px 0 15px 0;
  --competency-list-min-height: 380px;

  --item-border-bottom: 1px solid var(--default-bg-color);
  --arrow-size: 20px;
  --arrow-margin: -3px 0 0 -1px;
  --description-max-width: 360px;
  --description-line-height: 1.2;
  --icon-transition-duration: 0.3s;
  --arrow-transition-duration: 0.3s;

  // * CreateCompetencyModal
  --create-competency-modal-width: 400px;
  --create-competency-modal-height: 450px;

  // * CompetencyCard
  --competency-card-padding: 3px 12px;
  --competency-card-radius: 8px;
}
