.input {
  display: flex;
  justify-content: center;
  align-items: center;

  border: var(--default-border);
  outline: none;

  font-size: var(--font-size-m);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
}
