.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--question-form-gap);
  background-color: var(--block-bg-color);
  padding: var(--authorization-block-padding);
  border-radius: var(--default-border-radius);
  margin: var(--question-form-margin);
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #a0abbe;
}

.header {
  font-size: 24px;
}
