.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.create_tag_icon {
  margin-top: 0;
}

.competencies {
  color: var(--second-font-color);
  padding: 4px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-thin);
}
