.wrapper {
  display: flex;
  align-items: center;
  border: var(--default-border);
  border-radius: var(--input-border-radius);
  background-color: var(--block-bg-color);
  padding: var(--input-padding);
  gap: var(--input-gap);

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
  }
}

.inputField {
  cursor: pointer;
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--font-size-m);
  background-color: transparent;
  text-align: center;
  width: 100%;
}


