.wrapper {
  display: flex;
  gap: var(--gap-l);
}

.options {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  background-color: var(--block-bg-color);
  border: none;

  border-radius: 8px;
  padding: var(--block-padding);
  width: var(--block-max-width);
}

.name_input {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  border: none;
  outline: none;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease;

  ::placeholder {
    color: var(--black-font-color);
  }
}

.name_input:focus {
  border-bottom: var(--border-bottom);
}

.description_input {
  font-size: var(--font-size-m);
  border: none;
  outline: none;
  padding-bottom: 4px;
  transition: border-bottom 0.3s ease;
}

.description_input:focus {
  border-bottom: var(--border-bottom);
}
