.wrapper {
  display: flex;
  flex-direction: column;
  width: var(--competency-modal-width);
  height: var(--competency-modal-height);
}

.title {
  color: var(--black-font-color);
  font-size: var(--font-size-xl);
  margin-bottom: var(--header-space);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: var(--font-size-m);
  padding: var(--block-padding);

  p {
    color: var(--black-font-color);
    font-weight: var(--font-weight-regular);
  }

  &:hover {
    background: var(--light-bg-color);
  }
}

.selected {
  background: var(--light-bg-color);
  color: var(--second-font-color);
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-ms);
}


