.wrapper {
  display: flex;
  flex-direction: column;
  width: var(--competency-modal-width);
  height: var(--competency-modal-height);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: var(--large-space);
}

.title {
  color: var(--black-font-color);
  font-size: var(--font-size-xl);
}

.selected {
  background: var(--light-bg-color);
  color: var(--second-font-color);
}


